In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect('sample.db1')
table = 'CREATE TABLE peoples (id integer primary key, name TEXT, surname TEXT)'
cursor = connection.cursor()
cursor.execute(table)

In [4]:
connection.commit()

In [5]:
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range(50)]
names = [i for i in names if len(i)==2]
names

[['Mary', 'West'],
 ['Mark', 'Dean'],
 ['Jorge', 'Charles'],
 ['Charlene', 'Lynch'],
 ['Patricia', 'Reed'],
 ['Christina', 'Howell'],
 ['Gary', 'Reyes'],
 ['John', 'Bailey'],
 ['Dwayne', 'Henry'],
 ['Richard', 'Frank'],
 ['Lauren', 'Ewing'],
 ['Candice', 'Brown'],
 ['Michael', 'Cowan'],
 ['Savannah', 'Carlson'],
 ['Richard', 'Kramer'],
 ['Brianna', 'Caldwell'],
 ['Christian', 'Mitchell'],
 ['Ricky', 'Smith'],
 ['Michael', 'Clark'],
 ['Debbie', 'Nunez'],
 ['Kevin', 'Gomez'],
 ['Andrew', 'Parker'],
 ['Darren', 'Williamson'],
 ['Renee', 'Gay'],
 ['Brittany', 'Nguyen'],
 ['David', 'Coleman'],
 ['William', 'Maxwell'],
 ['Nicole', 'Schroeder'],
 ['Donna', 'Stephens'],
 ['Patrick', 'Shaw'],
 ['Stacey', 'Mccoy'],
 ['James', 'Reyes'],
 ['Cindy', 'Nelson'],
 ['Tammie', 'Hayes'],
 ['Michael', 'Gregory'],
 ['Michael', 'Barnes'],
 ['Jason', 'Lopez'],
 ['Misty', 'Oconnor'],
 ['Shawn', 'Greene'],
 ['Jeffery', 'Bradford'],
 ['Jamie', 'Chase'],
 ['Kenneth', 'Rubio'],
 ['Courtney', 'Mckinney'],
 ['Victoria', 'Burns'],
 ['Jason', 'English'],
 ['Brittney', 'Thomas'],
 ['Jessica', 'Holland'],
 ['Michael', 'Munoz'],
 ['Andrea', 'Aguirre'],
 ['Sharon', 'Young']]

In [8]:
# Adding data to tables
connection = sqlite3.connect("sample.db1")
insert_query = 'insert into peoples (name, surname) values(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [11]:
select_query = 'select * from peoples LIMIT 10'
for i in cursor.execute(select_query):
    print(i)

(1, 'Mary', 'West')
(2, 'Mark', 'Dean')
(3, 'Jorge', 'Charles')
(4, 'Charlene', 'Lynch')
(5, 'Patricia', 'Reed')
(6, 'Christina', 'Howell')
(7, 'Gary', 'Reyes')
(8, 'John', 'Bailey')
(9, 'Dwayne', 'Henry')
(10, 'Richard', 'Frank')